services:
  db:
    image: postgres:18.2-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  server:
    image: ghcr.io/kritzeey/former-server:latest
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      VITE_API_URL: ${VITE_API_URL}
      NODE_ENV: production
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db
    restart: always

  web:
    image: ghcr.io/kritzeey/former-web:latest
    ports:
      - "80:80"
    depends_on:
      - server
    restart: always

volumes:
  postgres_data: