name: Deploy to Azure VM via GHCR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build & Push to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Wajib agar GitHub Actions bisa push ke GHCR

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Server Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/server.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/former-server:latest

      - name: Build and push Web Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/web.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/former-web:latest

  deploy-to-vm:
    name: Deploy on Azure VM
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Execute Deployment via SSH
        uses: appleboy/ssh-action@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          
          script: |
            cd /opt/former
            sudo git pull origin main
            
            echo "$GITHUB_TOKEN" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            docker compose --env-file .env -f docker/docker-compose.prod.yml pull
            
            docker compose --env-file .env -f docker/docker-compose.prod.yml up -d
            
            docker compose --env-file .env -f docker/docker-compose.prod.yml exec -T server npx prisma migrate deploy --schema=../../packages/db/prisma/schema/schema.prisma
            
            docker image prune -f
          